<div id="bottom_ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- lorb_bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6092971386403783"
     data-ad-slot="8099558161"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<!-- Default Statcounter code for Lorb.gg http://lorb.gg -->
<script type="text/javascript">
var sc_project=11878348; 
var sc_invisible=1; 
var sc_security="71a2f054"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11878348/0/71a2f054/1/" alt="Web
Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->

